@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
}

body {
  color: #f0f0f0;
  background-color: #d7edfc;
}

 /* Class Utilities */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Elements */
header,.todo,.complete-btn,.trash-btn {
  background-color: #3a3a3a;
}
h2 {
  padding: 10px;
  font-size: 40px;
}
form input {
  width: 300px;
  height: 30px;
  padding: 4px;
  border-radius: 5px;
  border-bottom: 2px solid #3a3a3a;
}
button {
  margin: 3px 8px;
  cursor: pointer;
  font-size: 10px;
}
li {
  width: 300px;
  word-wrap: break-word;
  margin: 3px;
}

/* Other classes */
.todo-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 30px;
}
.todo {
  display: flex;
  margin: 8px;
  border-radius: 5px;
  padding: 5px;
}
form,
.newTodo{
  margin: 8px;
}
.add-btn {
  color: #3a3a3a;
  background: #d7edfc;
}
.complete-btn {
  color: rgb(73, 172, 73);
}
.trash-btn {
  color: rgb(194, 3, 3);
}
.filter {
  margin-left: 50px;
}

@media screen and (max-width: 530px) {
  form {
    flex-direction: column;
  }
  form input {
    width: 250px;
  }
  li {
    width: 180px;
  }
  .filter {
    margin: 0;
  }
}
