@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
}

:root {
  font-size: 16px;
}

body {
  color: #f0f0f0;
  background-color: #2c2c2c;
}

/* Class Utilities */
.btn {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  padding: 0.3rem;
}
.btn:hover {
  background-color: rgb(53, 60, 67);
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-direction-column {
  flex-direction: column;
}
.todo:nth-child(2n) {
  background-color: rgb(53, 53, 54);
}

/* Elements */
h2 {
  padding: 10px;
  font-size: 40px;
}
form input {
  width: 300px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
}
li {
  width: 200px;
  word-wrap: break-word;
  margin: 3px;
}

/* Other classes */
.todo-list {
  list-style: none;
  margin-top: 30px;
}
.todo {
  display: flex;
  margin: 8px;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid white;
  align-items: center;
}
form {
  margin: 8px;
}
.filter {
  margin-left: 50px;
  padding: 5px 10px;
  border-radius: 10px;
}
.date-label {
  font-size: small;
  font-style: italic;
  margin: 0.5rem 0 0 0.5rem;
}
.completed-label {
  margin: 1.5rem 0 0.5rem 0;
}

@media screen and (max-width: 530px) {
  form {
    flex-direction: column;
  }
  form input {
    width: 250px;
  }
  li {
    width: 180px;
  }
  .filter {
    margin: 0;
  }
}
